AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: 'true'
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: 'true'
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Attach
ColumnLimit: '110'
IndentWidth: '4'
IndentWrappedFunctionNames: 'false'
PointerAlignment: Right
TabWidth: '4'
UseTab: Never
SortIncludes: false
